<div class="row">
	<div class = "col-md-6 col-md-offset-3">
		<div class = "content_space text_padding">
			<h2> Because everyone learns differently. </h2>
			<br>
			<br>
			<p> “I hear, I forget. I see, I remember. I do, I understand.” This  is absolute BS. Research shows that different people learn differently. More specifically, there are 3 different learning preference styles- auditory, visual and tactile. In a classroom setting it is difficult, if not impossible, for a teacher to deliver a lesson in 3 different styles.
Office Hours is a platform that educates students about their different learning styles, and customizes their lessons to match their learning style.</p>
		</div>
	</div>
</div>

