<%= javascript_include_tag params[:controller] %>

<div id="modal-placeholder"></div>

<!-- Office Hours Header -->
<div class="bs-header" id="content">
  <div class="container">
    <h1>OFFICE HOURS</h1>
    <p>Say hi to your 24-7 after school tutor</p>
  </div>
</div>

<div class="container bs-docs-container">
  <div class="row">
    <!-- Left Section -->
    <div class="col-md-4 left-section">
      <div class="bs-sidebar hidden-print affix-top" role="complementary">
        <ul class="nav bs-sidenav">
          <div class="col-md-10">
            <div class="list-group">
              <!-- Button trigger modal -->
              <a href="##" class="list-group-item active" data-toggle="collapse" data-target="#demo"> Chemistry Chapters<b class="caret" style="border-top-color: white; border-bottom-color: white"></b></a>
              <div id="demo" class="collapse">
                <a class="list-group-item"> Atoms, Molecules, Ions</a>
                <a class="list-group-item"> Stoichiometry</a>
                <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Solutions
                      </a><b class="caret"></b>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                      <div class="panel-body">
                        <ul>
                          <li class="divider"> Electrolytes</li>
                          <li class="divider"><a href="##" data-toggle="modal" data-target="#chemsolution_modal"> Concentration</a></li>
                          <%= render 'layouts/modals/chemsolution' %>
                          <li class="divider"> Dilutions</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <a class="list-group-item"> Chemical Reactions</a>
                  <a class="list-group-item"> Ideal Gases</a>
                  <a class="list-group-item"> Acids and Bases</a>
                  <a class="list-group-item"> Energy, Enthalpy, and Thermodynamics</a>
                  <a class="list-group-item"> Electrochemistry</a>
                  <a class="list-group-item"> Quantum Mechanics</a>
                  <a class="list-group-item"> Chemical Equilibrium</a>
                  <a class="list-group-item"> Atomic Theory</a>
                </div>
              </div>
            </div>
            </div>
            <div class="col-md-10">
              <h3 class="notePad-header">My Note Pad</h3>
              <ul class="notePad" id="notePad">
              </ul>
            </div>
          </ul>
        </div>
      </div>
      <div class="col-md-8" role="main">
        <!-- Main section -->
        <div id="right-section" class="bs-docs-section">
          <div class="visual-section section">
            <h1 id="main section">What is a solution</h1>
            <p class="lead">Real life: Making Kool-Aid</p>
            <img src="assets/kool_aid.png"></img>
            <p class="drag-txt" draggable="true">If you have ever made Kool-Aid, you might remember adding the contents of a Kool-Aid packet and some sugar to a pitcher of water. After stirring, you're left with a bright red, cherry flavored drink: Kool-Aid. Even though it may not seem like it, you've just conducted a chemistry experiment. The Kool-Aid you have made is a solution.</p>
          	<p class="drag-txt" draggable="true">A solution is a mixture of two or more substances. We refer to those substances as solute(s) and solvent(s).</p>
            <img src="assets/solute_solvent_solution.png" width="100%"></img>
          	<p class="drag-txt" draggable="true">The solute is what is being dissolved. The solvent is the substance that does the dissolving. In our Kool-Aid example, we have two solutes, Kool-Aid powder and sugar, and one solvent, water.

If we know exactly how much solute we add to a solvent, we can calculate the concentration of a solution. The concentration, or Molarity (M), is defined as the moles of solute/liters of solution.
			</p>
			
			<p class="drag-txt" draggable="true">Let's work through a practice problem:</p>
			<img src="assets/solution_problem.png" width="100%"></img>
			<p class="drag-txt" draggable="true">Okay, now it's time to practice; let's see what you've learned.</p>
          </div>
        </div>
     </div>
    <!-- Footer
    ================================================== -->
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
      </div>
    </footer>

    <!-- Learning Preference -->
    <script id="pref-popover-tmpl" type="text/x-handlebars-template">
    <div class="pref modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">What is your learning style? </h4>
    </div>
    <div class="modal-body">
    <ul class="nav navbar-nav">
    {{#each styles}}
    <li class="thumnail">
    <a href="#style/{{id}}"><img src="assets/pref_popover_{{id}}.png"/><button class="btn">{{name}}</button></a>
    </li>
    {{/each}}
    </ul>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </script>
    
    	<!-- Visual Contents -->
	<script id="visual-content-tmpl" type="text/x-handlebars-template">
	<div class="visual-section section">
		<h1 id="main section">What is a solution</h1>
		<p class="lead">Real life: Making Kool-Aid</p>
		<img src="assets/kool_aid.png"></img>
		<p class="drag-txt" draggable="true">If you have ever made Kool-Aid, you might remember adding the contents of a Kool-Aid packet and some sugar to a pitcher of water. After stirring, you're left with a bright red, cherry flavored drink: Kool-Aid. Even though it may not seem like it, you've just conducted a chemistry experiment. The Kool-Aid you have made is a solution.</p>
		<p class="drag-txt" draggable="true">A solution is a mixture of two or more substances. We refer to those substances as solute(s) and solvent(s).</p>
		<img src="assets/solute_solvent_solution.png" width="100%"></img>
		<p class="drag-txt" draggable="true">The solute is what is being dissolved. The solvent is the substance that does the dissolving. In our Kool-Aid example, we have two solutes, Kool-Aid powder and sugar, and one solvent, water.
	
	If we know exactly how much solute we add to a solvent, we can calculate the concentration of a solution. The concentration, or Molarity (M), is defined as the moles of solute/liters of solution.
		</p>
		
		<p class="drag-txt" draggable="true">Let's work through a practice problem:</p>
		<img src="assets/solution_problem.png" width="100%"></img>
		<p class="drag-txt" draggable="true">Okay, now it's time to practice; let's see what you've learned.</p>
	  </div>
	</div>
	</script>


	<!-- Audio Contents -->
	<script id="audio-content-tmpl" type="text/x-handlebars-template">
	<div class="audio-content section" id="audio-section" >
		{{#each audioContents}}
		<div class="audio-section" id="style-aud-chapter-{{id}}">
			<h1 id="main section">What is a solution</h1>
			<p class="drag-txt" draggable="true">A solution is a mixture of two or more substances. Let's take a look at a real life example.</p>
			<h3> Making a solution: </h3>
			<div class="video"><iframe src="http://player.vimeo.com/video/{{movieLink}}"  width="700" height="393" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			<div class="caption drag-txt" draggable="true"><p>To make a solution, we have to add a solute and a solvent together. The solute is what is being dissolved and the solvent is the substance doing the dissolving.

If we know exactly how much solute we add to a solvent, we can calculate the concentration of a solution. The concentration, or Molarity (M), is defined as the moles of solute/liters of solution.</p></div>
			<blockquote class="drag-txt" draggable="true"><div>
				<p type="button" class="tip-text" data-toggle="tooltip" data-placement="top" title="" data-original-title="M">molarity</p><p> =
				moles of solute/</p><p class="tip-text" data-toggle="tooltip" data-placement="top" title="" data-original-title="Liter">volume of solution</p>
			</div>
			</blockquote>
		</div>
		{{/each}}

	</div>
	</script>


	<!-- Tactile Contents -->
	<script id="tactile-content-tmpl" type="text/x-handlebars-template">
	<div class="tactile-content" id="tactile-section" >
		<div class="virtual-lab">
			<div class="col-md-9 alert alert-info">
				<strong>Hey!</strong> Do you know how to make solution?
			</div>
			<button class="col-md-2 retry btn primary-btn">Try Again!</button>
			<div class="drag-section section">
				{{#each dragData}}
					<div class="drag-target" draggable="true" data-name="{{name}}">
						<img class="lab-icon" src="assets/{{name}}.png" />
						<p class="caption">{{displayText}}</p>
					</div>
				{{/each}}
			</div>
			<div class="drop-section section">
				{{#each dropData}}
					<div class="drop-target" data-name="{{name}}">
						<img src="assets/{{name}}.png" />
						<p class="caption">{{displayText}}</p>
					</div>
				{{/each}}
			</div>
		</div>
	</div>
	</script>
	
	
	<!-- Ask a tutor -->
	<script id="tutor-tmpl" type="text/x-handlebars-template">
        <video id="incoming" width=500 height=500 autoplay> </video>
        <video id="outgoing" width=100 height=100 autoplay> </video>

        <script>
            /*
            var callobj = setupCall(prompt("your name?"), function (){
                var wantToCall = confirm("do you want to place a call?");
                if(wantToCall){
                    callobj.callSomeone(prompt("recipient id?"));
                }
            });*/
            var callobj = setupCall("tyoverby", function (){
                callobj.callSomeone("ty1");
            });


        </script>
	</script>


