<div id="modal-placeholder"></div>

<!-- Office Hours Header -->
<div class="bs-header" id="content">
  <div class="container">
    <h1>OFFICE HOURS</h1>
    <p>Say hi to your 24-7 after school tutor</p>
  </div>
</div>


<div class="container bs-docs-container">
  <div class="row">
    <!-- Left Section -->
    <div class="col-md-3 left-section">
      <div class="bs-sidebar hidden-print affix-top" role="complementary">
        <ul class="nav bs-sidenav">
          <div class="col-lg-8">
            <div class="list-group">
              <!-- Button trigger modal -->
              <a class="list-group-item active" href="#"> Chapters</a>
              <a class="list-group-item" data-toggle="modal" data-target="#chapterModal"> Ideal Gases</a>
              <a class="list-group-item" href="#"> Boyles Law</a>
                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Launch demo modal
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-9" role="main">
        <!-- Main section -->
        <div id="right-section" class="bs-docs-section">
          <div class="page-header">
            <h1 id="main section">Chapter 3 : Visual</h1>
            <p class="lead">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

              It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


              Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

              The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.

              There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
            </div>
          </div>

    <!-- Footer
    ================================================== -->
    <footer class="bs-footer" role="contentinfo">
      <div class="container">
      </div>
    </footer>

    <!-- Learning Preference -->
    <script id="pref-popover-tmpl" type="text/x-handlebars-template">
    <div class="pref modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">What is your learning style? </h4>
    </div>
    <div class="modal-body">
    <ul class="nav navbar-nav">
    {{#each styles}}
    <li class="thumnail">
    <a href="#style/{{id}}"><img src="./css/img/pref_popover_{{id}}.png"/><button class="btn">{{name}}</button></a>
    </li>
    {{/each}}
    </ul>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </script>


    <!-- Audio Contents -->
    <script id="audio-content-tmpl" type="text/x-handlebars-template">
    <div class="audio-content" id="audio-section" >
    {{#each audioContents}}
    <div class="audio-section" id="style-aud-chapter-{{id}}">

    <h2 class="audio-header">{{sectionTitle}}</h2>
    <iframe src="http://player.vimeo.com/video/{{movieLink}}"  width="700" height="393" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <div class="caption">{{text}}</div>

    </div>
    {{/each}}

    </div>
    </script>
