

<!-- learn through lessons catetered to your most effective senses.  -->

<div class = "landing-background">
	<div class = "landing-div">

			<div class = "landing-box">
			<div class = "row">
				<div class = "col-md-6 col-md-offset-3">
			</div>

			<div class = "row">
				<div class = "col-md-6 col-md-offset-3 text-background ">	
					<h2 class= "header-align">Lessons catered to your most effective senses</h2>
				
				<div class = "row">
					<div class = "col-md-4 center bob">		
						<%= image_tag("officehours_visual.png", size:"170x250", :class=> "picking-bougars") %>
					</div>

					<div class = "col-md-4 center bob">
						<%= image_tag("officehours_tactile.png", size:"170x250", :class=> "picking-bougars") %>
					</div>
					<div class = "col-md-4 center bob">			
						<%= image_tag("officehours_audio.png", size:"170x250", :class=> "picking-bougars") %>
					</div>

				</div>	
				<div class = "col-md-12 sign-up-text">
					<div class = "col-md-10">
						<h4> Start a free lesson right now! </h4>	
					</div>
					<div class = "col-md-2">
						<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success sign-up-button" %>
					</div>
				</div>	

			
		</div>
	</div>
</div>