/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require formtastic
 *= require font-awesome
 *= require_tree .
 */

@import "bootstrap";
@import "bootstrap/theme";

.navbar {
	background: rgba(255,255,255,.35);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid;
	border-color: black;
	margin-bottom: 0px;
}

.navbar-brand {
	background-color: white;
	opacity: .95;
}

.navbar-collapse {
	width: 90%;
}

.navbar-nav > li > a {
	padding-top: 20px;
	color: #333333;
	font-family: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
	font-size: 15px;
}

.navbar-nav .navbar-right {
	color: #333333;
	font: 'Helvetica Light', 'Helvetica', Arial, sans-serif;;
}

.background {
  position: relative;
}





h2 {
	font: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  font-weight: 100;
  font-size: 39.5px;
}

h3 {
	font: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
	font-weight: 100;
	font-size: 24.5px;
}

h4 {
	font: 'Helvetica Light', 'Helvetica', Arial, sans-serif;
  font-weight: 100;
  font-size: 22px;
}

p {
	font-family: 'helvetica', arial, sans-serif;
	font-size: 16px;
}


.bg-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 15%;
}


#box-1 {
  padding: 10px 10px 20px 30px;
  top: 0;
}

#box-2 {
  padding: 25px 10px 20px 30px;
  h4 {
    margin-bottom: 20px;
  }
}

.black-trans {
  background: rgba(0,0,0,.9);
  color: white;
 }

.white-trans {
  background: rgba(255,255,255,.95);
  color: black;
}

.landing_icons {
	margin: 10px 10px 10px 10px;
}

.text_padding {
	padding: 8% 20px 0 20px;
}

