/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require formtastic
 *= require font-awesome
 *= require_tree .
 */

.navbar {
	background: rgba(255,255,255,.35);
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid;
	border-color: black;
	margin-bottom: 0px;
}

.navbar-brand {
  font-color: white;
	opacity: .95;
}

.navbar-collapse {
	width: 90%;
}

.navbar-nav > li > a {
	padding-top: 20px;
	color: #333333;
	font-size: 15px;
}

.navbar-nav .navbar-right {
	color: #333333;
}

.background {
  position: relative;
}

.bg-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  margin-top: 15%;
}

.bob {
	background: red;
	text-align: center;
	height: 300px;

}

.picking-bougars {
	padding-top:40px;

}

.box-1 {
  padding: 10px 10px 20px 30px;

}

.center {
	text-align: center;
}

.black-trans {
  background: rgba(0,0,0,.9);
  color: white;
 }

.white-trans {
  background: rgba(255,255,255,.95);
  color: black;
}

.landing_icons {
	margin: 10px 10px 10px 10px;
}

.text_padding {
	padding: 8% 20px 0 20px;
}


//Siweigh backbone css

.bs-header {
	padding-top: 50px;
	padding-bottom: 20px;
	background-color: rgb(204, 252, 145);
}

.left-section {
	padding-top: 40px;
}


/*pref popover */

.modal-dialog {
    width: 800px;
}
.modal-content {
    height: 500px;
}
.modal-header {
    /* font-size: 40px; */
}
#myModalLabel {
    line-height: 8rem;
    font-size: 3rem;
}
.modal-body {
    height: 25rem;
}
.modal-footer {}



/*audio section */
#audio-section {
	display: block;
	overflow: hidden;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.3);
	-moz-box-shadow: 2px 2px 0 0 rgba(0,0,0,0.3);
	box-shadow: 0 2px 0 0 rgba(0,0,0,0.5);
	background: #9CDACD;
	padding-left: 10%;
	padding-bottom: 5%;
	margin-top: 5%;
}

.audio-header {
	font-size: 25px;
	background-image: url("../images/icon-video.png");
	background-size: 38;
	background-repeat: no-repeat;
	padding-left: 50px;
	padding-top: 5px;
}

/* virtual lab */
.drag-section, .drop-section {
	display: block;
	width: 45%;
	overflow: hidden;
	padding: 10% 3%;
	margin-left: 4%;
	float: left;
	border: 1px solid rgb(194, 193, 193);
	background-color: rgb(255, 255, 255);

}


.drag-section .caption,.drop-section .caption {
	text-align: center;
	font-size: 2rem;
	color: rgb(131, 125, 125);
}

.highLight {
    animation-name: blinker;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes blinker {  /* Decimal not necessary, 0 and 1 is enough */
    0% { 
    box-shadow: 0 0 50px rgb(181, 241, 141),0 0 30px rgb(255, 255, 255);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
    }
    25% { 
    box-shadow: none;
    }
    50% { 
    box-shadow: 0 0 50px rgb(181, 241, 141),0 0 30px rgb(255, 255, 255);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;
    }
    75% {
    box-shadow: none;
    }
    100% { 
    box-shadow: 0 0 50px rgb(181, 241, 141),0 0 30px rgb(255, 255, 255);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-khtml-border-radius: 10px;}
}

.alert {
	margin-top: 20px;
	font-size: 25px;
	padding: 20px;
}

.drag-target {
	display: inline;
	float:left;
	padding-left: 10%;
}

.drop-target {
	margin-left: 20%;
}
.drag-target img {
	width: 120px
}

.col-md-2.retry.btn.primary-btn {
margin-top: 5%;
margin-left: 5%;
padding: 10px;
background: white;
border: 1px solid rgb(196, 196, 196);
}
