.modal-backdrop {
  z-index: 900;
}

.modal-dialog {
    width: 400px;
    text-align: center;
    margin: auto;
    top: 50;
    bottom: 0;
    left: 0;
    right: 0;
}

.left-section a {
  font-size: 1.5em;
}

.panel-body li {
  font-size: 1.5em;
}
.panel-body a {
  font-size: 1.0em;
}
.list-group {
font-weight: 10;
}
